body, html {
    margin: 0;
    padding: 0;
    min-width: 500px;
}

@font-face {
    font-family: 'PC98';
    src: url('static/pc-9800.ttf');
}

html {
    z-index: -2;
}

body {
    height: 100vh;
    font-family: PC98;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* color: #333; */
    z-index: -1;
    /* background-color: black; */
    /* background: url('static/images/hyperbigcloud.webp') fixed; */
    background: url('static/images/background.png') fixed;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.backimage {
    position: fixed;
    background: url('static/images/sonardev.png') fixed;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    z-index: -1;
}

.sidepanel {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 5px;
    width: min-content;
    height: 100%;
    z-index: 1;
    align-items: start;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    @media screen and (max-width: 700px) {
        display: none;
    }
}

.sidepanel div a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hidden {
    display: none;
}

.icon {
    image-resolution: from-image;
    width: 50px;
    height: 50px;
}

.icon:hover + .hidden {
    display: block;
    transition: all 0.5s;
    color: white;
    font-size: 1.8em;
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 1800px) {
        grid-template-columns: 1fr 1.2fr 1fr;
    }
    @media (max-width: 1300px) {
        grid-template-columns: 1fr 2.5fr 1fr;
    }
    /* @media (max-width: 1000px) {
        grid-template-columns: 1fr 2.5fr 1fr;
    } */
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 90%;
    z-index: 100;
    min-width: 500px;
    /* middle of screen */
    transform: translate(0, 5%);
}

.central-grid-item {
    grid-area: 1 / 2 / 2 / 3;
    /* transition: all 0.5s; */
    @media (max-width: 700px) {
        grid-area: 1 / 1 / 2 / 4;
    }
    padding: 10px;
}

.container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100%;
    background-color: rgba(221, 213, 222, 0.9);
    border: 10px ridge #000;
    padding: 10px;
    flex-direction: column;
}

.container div {
    margin: 10px;
    padding: 5px;
    border: 5px ridge #000;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.container div p {
    margin: 3px;
    margin-top: 10px;
    font-size: 1.2em;
}

span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
}

.container div h2 {
    padding-bottom: 10px;
    line-height: 1em;
}

span a {
    width: min-content;
    float:inline-end;
    text-align: center;
}

span p {
    width: 100%;
    float:inline-end;
    text-align: right;
}

code {
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    padding: 10px
}

.back-button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}